# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log

terraform/rag/.venv
terraform/rag/__pycache__
*.tfvars
*.tfvars.json
!*.tfvars.example

# Local-only
.env
*.kubeconfig
postgres-envs.sh
